#tab6.tab-pane
  %table.table.table-hover
    %thead
      %tr
        %th Date
        %th Amount
        %th Description
        %th Document
    %tbody
      - if @project.estimates.any?
        - @project.estimates.each do |estimate|
          %tr
            %td= estimate.created_at.strftime('%b %d, %Y')
            %td= estimate.amount
            %td= estimate.description
            %td
            %td
              %a{href: estimate.document.url, target: "_blank"} Estimate
