#tab3.tab-pane
  - if @project.contributions.any?
    #project-funders.span8
      - if @project.contributions.any?
        = render @project.contributions
      - else
        %p No contributions yet...
