#references.tab-pane
  %a#add_new_dashboard_reference.btn.btn-primary.pull-right Add New Reference
  %h3 References
  %p You need to provide us with 10 customer references and 4 business references.
  .clearfix
  .divider
  #dashboard_references_list
    - unless @references.nil?
      = render 'references/references_list', :locals => {:references => @references }
    - else
      %p You haven't added any references yet.
      .divider
  #new_dashboard_reference
