#profile.tab-pane
  = simple_form_for @contractor, :remote => true, :html => { :method => "put"} do |f|
    = f.input :description, :class => "span8 ckeditor", :rows => "10", "data-ideal" => "required", :input_html => { :id => "contractor_description" }, :label => false
    .clearfix
    .divider
    = f.submit 'Update Profile', :class => "btn btn-primary"
