<div class="tab-pane" id="projects">
  <% if @projects.any? %>
    <% @projects.each do |project| %>
      <div class="contractor_dashboard_project_item span4">
        <h3>Project: <%= link_to "#{project.page_title}", project %></h3>
        <hr>
        <p><strong>Adjuster: </strong> <%= project.adjusters.first.first_name %> <%= project.adjusters.first.last_name %></p>
      </div>
    <% end %>
  <% end %>
</div><!-- home-tab -->