#home_slide_wrap
  height: 261px
  width: 100%
  position: relative
  overflow: hidden
  background: image-url('compassion-strip2.jpg') center center no-repeat

#how_it_works_vid_wrapper
  position: relative
  overflow: hidden
  margin: 0 auto 30px auto
  width: 642px
  height: 360px
  border: 1px solid #444
  img
    max-width: 100%
    max-height: 100%

#cta_box
  width: 100%
  margin: 0 auto 2% auto
  position: relative
  overflow: hidden

#action-slug
  width: 891px
  height: 80px
  background: image-url('action-slug.png') no-repeat

#home-action-slug-wrap
  margin: 70px auto 0 auto
  width: 719px
  height: 65px
  position: relative
  overflow: hidden
  background: image-url('white-bg.png') repeat
  +border-radius(5px)
  padding: 30px

#home-action-slug
  width: 719px
  height: 65px
  background: image-url('action-slug.png') no-repeat
  position: relative

#home-create-action-btn
  height: 80px
  width: 224px
  display: block
  text-indent: -999em
  cursor: pointer
  background: image-url('create-action-btn.png') no-repeat

#home_categories_select_wrap
  float: left
  position: relative
  overflow: hidden
  +border-radius(5px)
  background: whitesmoke
  border: 1px solid #e3e3e3
  .inner
    width: 90%
    position: relative
    overflow: hidden
    margin: 0 auto

.home-projects-wrap
  width: 100%
  position: relative
  overflow: hidden
  margin-bottom: 5%

#home-proj-nav-search
  margin: 5% auto!important
  width: 94%
  position: relative
  overflow: hidden
  input[type="text"]
    width: 60%!important
    padding-top: 6px!important
    padding-bottom: 6px!important
  button
    padding-top: 6px!important
    padding-bottom: 6px!important

#home_page_projects
  position: relative
  overflow: hidden
  float: right
  clear: right
  width: 64%

#home_categories_select
  list-style: none
  position: relative
  overflow: hidden
  margin: 0
  padding: 0!important
  display: block
  border-top: 1px solid #e3e3e3
  li
    display: block
    position: relative
    border-bottom: 1px solid #e3e3e3
    border-top: 1px solid #fff
    padding: 2% 0!important
    overflow: hidden
    width: 100%
    clear: both
    height: 30px
    &:last-child
      border-bottom: none!important
    a
      display: block
      position: relative
      overflow: hidden
      color: #666
      font-size: .9em
      font-weight: normal
      width: 100%
      height: 100%
      cursor: pointer
      line-height: 30px
