#contractor_modal.modal.hide.fade.modal-large
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal"} &#215;
    %h3 Contractor Profile
  .modal-body
    Contractor stuff here
    .clearfix
  / modal-body
  .modal-footer
    %a.btn.btn-primary.pull-right{href: "#"} Select this Contractor
