#disclaimer_modal.modal.hide.fade
  .modal-header
    %h3 Disclaimer
  .modal-body
    I certify that the money raised will be used for the stated intent...
    .clearfix
  / modal-body
  .modal-footer
    %button#disclaimer-accept.btn.btn-primary.pull-right{'data-disable-with' => 'Creating...'} Accept
