- content_for :disclaimer_modal do
  #disclaimer_modal.modal.hide.fade
    .modal-header
      %h3 Disclaimer
    .modal-body
      %p By clicking accept, you agree to all terms of Compassion for Humanity, LLC.
      %p You also certify that all monies donated will be used in connection for their stated intent.
    .modal-footer
      %button#disclaimer-accept.btn.btn-primary.pull-right{'data-disable-with' => 'Creating...'} Accept
