#project_response_modal.modal.hide.fade
  #project_response_modal_header.modal-header
  #project_response_modal_body.modal-body

  .modal-footer
    %button.btn.btn-large.btn-primary{"data-dismiss" => "modal"} OK
    .clearfix
