<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, your project <%= @project.page_title %> has been created!</h1>
    <p>
      Let's get crunk!
    </p>
    <p>
      To view your project, just follow <a href="http://compassionforhumanity.org/projects/<%= @project.slug %>">this link</a>.
    </p>
    <p>Thanks for creating a project with Compassion for Humanity and have a great day!</p>
  </body>
</html>