<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @user.name %>, your campaign has been running for <%= @days %> days. Unfortunately you did not reach your goal amount, but the great news is that you raised a total of $<%= @project.total_contributions %>. Would you like to end your compaign now and receive your funds, or continue to let it grow?
    </p>
    <p>Thanks for creating a project with Compassion for Humanity and have a great day!</p>
  </body>
</html>
