<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, your Action "<%= @project.page_title %>" has been funded!</h1>
    <p>
      You can either end the campaign or continue to let it raise funds. If you want to end your campaign, just sign in to your dashboard and click the "End Campaign" button.
    </p>
    <p>Thanks for creating an Action with Compassion for Humanity and have a great day!</p>
  </body>
</html>
