<div class="tab-pane" id="settings">
  <%= simple_form_for @project, :html => { :id => "project_settings_update_form" }, :remote => true, :method => "put" do |f| %>
  <p>Send me an email alert when a contribution is made: </p>
  <div class="make-switch" data-on-label="YES" data-off-label="NO">
    <%= f.check_box :notify_on_donate, :class => "autosubmit" %>
  </div>
  <div class="clearfix"></div>
  <p>Make this project private ( won't show up in search ): </p>
  <div class="make-switch" data-on-label="YES" data-off-label="NO">
    <%= f.check_box :private, :label => "Make this project private", :class => "autosubmit" %>
  </div>
  <% end %>
  <%= button_to "Delete Project", user_project_path(current_user, @project), method: :delete, :confirm => "Are you absolutely sure you want to delete this project? This cannot be undone!", :class => "btn btn-large btn-danger" %>
</div><!-- settings -->