#share.tab-pane
  .span4.alpha.pull-left
    = render 'projects/share_buttons'
  .span2.pull-left
    = link_to raw("<i class='icon-white icon-print'></i> Print a Flyer").html_safe, project_path(@project, :format => "pdf"), target: "_blank", class: "btn btn-primary btn-large"
  .clearfix
