.span8.offset2
  = link_to "Create an Action!", new_user_project_path(current_user), :id => "dashboard-create-action-btn"
.clearfix
.span10.offset1
  .title
    %h4 Your Actions
  - if @projects.any?
    = render @projects
.clearfix
