<div class="span7">
  <div class="title"><h4>Your Projects</h4></div>
  <% if @projects.any? %>
    <%= render @projects %>
    <% end %>
</div><!-- span7 -->

<div class="span4 pull-right">
  Sidebar if needed
</div><!-- sidebar -->
<div class="clearfix"></div>