<% @page_title = "Sign Up" %>
<div class="span4 offset4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, eveniet.</p>
  <%= link_to raw("<i class='icon-facebook'></i> | Connect with Facebook"), user_omniauth_authorize_path(:facebook), :class => "btn btn-large btn-facebook" %>
</div><!-- span5 -->