.row
  .span6
    %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/yKW-WMo25iQ?rel=0", width: "560"}
  .span6
    %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/FvC5M6Kp-kE?rel=0", width: "560"}

