.row
  .span6
    %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/5PLf86Cgj28?rel=0", width: "560"}
  .span6
    %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/9a8gl0gdVzE?rel=0", width: "560"}

