- cache do
  #register_modal.modal.hide.fade
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal"} &#215;
      %h3 Sign Up with Facebook!
    .modal-body
      %p We are currently in close beta. If you have an invite code, you can register now. Or sign up for our invite list.
      .divider
      #beta-invite-code-container.hide
        = label_tag :invite_code_check, 'Enter your invite code:'
        = text_field_tag :invite_code_check
        %a#sign-in-with-code.btn.btn-success{href: ''} Validate
      #beta-form-container.hide
        = render 'beta_requests/form'
    .modal-footer
      #beta-signup.btn.btn-primary.pull-left Sign me Up!
      #beta-havecode.btn.btn-success.pull-right I have a beta invite code
