- cache do
  #register_modal.modal.hide.fade
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal"} &#215;
      %h3 Sign Up with Facebook!
    .modal-body
      %p We are currently in close beta. If you have an invite code, you can register now. Or sign up for our invite list.
    .modal-footer
      = link_to "I have a beta invite code", new_user_registration_path, class: 'btn btn-success'
