#contractor_sign_in_modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal"} &#215;
    %h3 Contractor Sign In
  .modal-body
    = render 'contractors/login_form'
  .modal-footer
