<div class="modal modal-large hide fade" id="facebook_sign_in">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal">&times;</button>
    <h3>Sign Up with Facebook</h3>
  </div>
  <div class="modal-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, minus, inventore, consectetur dicta molestiae aspernatur autem nisi nostrum obcaecati velit suscipit optio quos magni voluptas ut animi doloribus voluptate consequatur.</p>
  </div>
  <div class="modal-footer">
    <%= link_to "", user_omniauth_authorize_path(:facebook), :class => "facebook-sign-in" %>
  </div>
</div>
