<div id="how_it_works_vid_wrapper">
  <video width="642" height="360" poster="<%= image_path('HowItWorks.png') %>" controls>
        <source src="https://s3.amazonaws.com/c4humanity/videos/HowItWorks.webm" type='video/webm; codecs="vp8.0, vorbis"'>
        <source src="https://s3.amazonaws.com/c4humanity/videos/HowItWorks.ogv" type='video/ogg; codecs="theora, vorbis"'>
        <source src="https://s3.amazonaws.com/c4humanity/videos/HowItWorks.mp4" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'>
        <p>This is fallback content</p>
</video>
</div><!-- how_it_works_vid_wrapper -->