.row
  .span6
    %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/8eCmn0M0g7A?rel=0", width: "560"}
  .span6
    %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/z4zrLAuUtOg?rel=0", width: "560"}
  .span6
    %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/qcmVfREQopg?rel=0", width: "560"}
  .span6
    %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/myqvOmL2YXA?rel=0", width: "560"}
