<div class="modal hide fade" id="sign_in_modal">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal">&times;</button>
    <h3>Sign In</h3>
  </div>
  <div class="modal-body">
    <%= link_to "", user_omniauth_authorize_path(:facebook), :class => "facebook-sign-in" %>
  </div>
</div>