- cache do
  %ul.social-media
    %li
      %a.facebook{href: "http://www.facebook.com/compassionforhumanity", target: "_blank"} facebook
    %li
      %a.twitter{href: "http://twitter.com/Comp4Humanity", target: "_blank"} twitter
    %li
      %a.rss{href: "#", target: "_blank"} rss
