#home-friends-wrap.home-projects-wrap
  .title
    %h4
      Created by Friends
  = session[:temp_token]
  - if user_signed_in? || token_exists?
    - if @friends_projects.any?
      - @friends_projects.each do |p|
        = render partial: 'projects/friends_project', :locals => { project: p }
    - else
      %p
        Sorry, no results found.
    .clearfix
    .divider
    - if @friends_projects.any?
      = link_to "See All", category_path(id: "friends"), :class => "btn btn-success btn-mini pull-right"
    .clearfix
  - else
    %p Log in to Facebook to see Actions created by your friends.
    = link_to "Log In", @oauth_url, :class => "btn btn-primary btn-large pull-left", "data-disable-with" => "Authorizing..."
