<% @page_title = "About Compassion for Humanity" %>
<% @page_class = "strip-mini" %>
<div class="span12">
  <h1 class="hidden-desktop"><%= @page_title %></h1>
  <h4>What is Compassion? </h4>
<p><strong>Definition of Compassion:</strong></p>
<p>Compassion, is an emotion that is a sense of shared suffering, most often combined with a desire to alleviate or reduce the suffering of another; to show special kindness to those who suffer. Compassion essentially arises through empathy, and is often characterized through actions, wherein a person acting with compassion will seek to aid those they feel compassionate for.</p>
<p>Compassionate acts are generally considered those which take into account the suffering of others and attempt to alleviate that suffering as if it were one's own. Compassion differs from other forms of helpful or humane behavior in that its focus is primarily on the alleviation of suffering.</p>
<h4>What is Humanity?</h4>
<p><strong>Definition of Humanity:</strong></p>
<p>Humanity, is all human beings collectively; the human race; humankind. It is the quality of being humane; kindness; benevolence, a set of strengths focused on "tending and befriending others".</p>
<h4>What is Compassion for Humanity?</h4>
<p><strong>Definition of Compassion for Humanity:</strong></p>
<p>Compassion for Humanity, is the action of many humans working together to alleviate the sufferings of others, as if it were their own.</p>
<p><em>CompassionforHumanity.org</em>, is new technology that brings compassionate people together with those who truly need compassion.</p>
</div>