<% @page_title = "Website Policies" %>
<div class="span12">
  <h1 class="hidden-desktop"><%= @page_title %></h1>
  <h5>Copyright Statement</h5>
<p>All information and or content provided by Compassion for Humanity's website is protected by copyright laws and is owned by Compassion for Humanity. This information and or content includes, but is not limited to, graphics, images, photographs, audio clips, video clips, text, articles, and the Compassion for Humanity logo, which is a trademark of Compassion for Humanity.</p>
<p>You may not publish, modify, copy, distribute, sell, transfer, or reproduce in any way the material on this website without prior written permission from Compassion for Humanity. You may not, without the permission of Compassion for Humanity, mirror or frame any material which is contained on this website.</p>
<p>Compassion for Humanity also prohibits unauthorized links to the site and reserves the right to disable any unauthorized links or frames.</p>
<p>This site may contain links that will let you access other websites that are not under the control of Compassion for Humanity. The links are only provided as a convenience, and Compassion for Humanity does not endorse any of these sites. Compassion for Humanity assumes no responsibility or liability for any material that may be accessed on other websites reached through this site, nor does Compassion for Humanity make any representation regarding the quality of any product or service contained at any such site. Compassion for Humanity has no responsibility or liability for any material on other websites that may contain links to this site.</p>
<p>The unauthorized use of any of the material contained on this website may violate certain copyright laws, trademark laws, communications regulations and statutes, and laws concerning privacy and publicity.</p>
<h5>Privacy Policy</h5>
<p>This Privacy Policy is provided to inform you of the ways we gather and use information on www.compassionforhumanity.org ("Website") operated by Compassion for Humanity, Inc. ("CFH"). This Privacy Policy does not apply to any website "linked" to this Website, and CFH is not responsible for the privacy policies or the content of such other websites.</p>
<h5>Information Collection</h5>
<p>Please be aware that CFH is committed to upholding the highest level of confidentiality and security for those who choose to visit our Website. The types of information collected by CFH on this Website fall under one of two categories: Anonymous or Personal.</p>
<h5>Anonymous Information</h5>
<p>Anonymous information cannot be traced back to a specific individual. Our web servers automatically record the IP address (the general location where the user is logged) of each visitor to this Website and tracks how many people visit our Website. We use this type of anonymous information to administer our Website more effectively, personalize this Website for you, and gain general information about the backgrounds and sources of visitors.</p>
<h5>Personal Information</h5>
<p>Personal information identifies who you are. This is information that you personally and voluntarily provide as a result of a prompt on the Website. Such information includes, but is not limited to, your name, postal address, phone number, and email address.  Credit card numbers may also be collected when online donations occur through our Website or through a third party merchant who handles transactions. Following is a list of ways that CFH collects personal information from this Website:</p>
<h5>Online Requests for Information</h5>
<p>When you request information online from our Website, we ask for certain information in order to process your request. The information may include, but is not limited to, your name, postal address, phone number, email address, and other demographic information. Unless you "opt out," we may also use that information to send you additional literature about CFH.</p>
<h5>Online Registration </h5>
<p>When an individual registers with CFH, certain information is collected to allow us to provide you with pertinent information. The information collected in our online registration may include, but is not limited to, your name, postal address, phone number, email address, and other demographic information. Unless you "opt out," we may use the information you voluntarily provide to send you additional literature about CFH.</p>
<h5>Online Transactions</h5>
<p>When you desire to make a donation on our Website, certain information is necessary to allow us to process your online donation. The information collected in an online transaction may include, but is not limited to, your name, credit card information, postal address, phone number, email address, and other demographic information. This information is handled by a third party merchant via encrypted secure servers. [Need more information about the merchant who will process payments, i.e. is it verisign compliant, paypal, etc.)</p>
<h5>Cookies</h5>
<p>Cookies are small data files that can be placed on your hard drive by websites that you visit. The only personal information that a cookie can contain is information that you provide to us personally. CFH uses cookies to gather and store personal information that is collected when online transactions occur on our Website, as well as passwords and preferences.</p>
<h5>Information Sharing and Disclosure</h5>
<p>CFH will not rent, sell, lease, or share personal information about you with other organizations, except in response to subpoenas, court orders, or privacy processes, or to establish and/or exercise our legal rights. However, when an online donation occurs through our Website a third party merchant may be provided information in order to process the transaction.</p>
<h5>Children's Policy</h5>
<p>If you are under the age of sixteen, you must ask your parent or guardian before you email this Website, request that CFH send any information to you, or make any transaction on this Website.</p>
<h5>Opt-Out Policy</h5>
<p>To opt out of receiving emails or standard mail solicitations or other forms of contact from Compassion for Humanity, Inc., send an email to [insert contact email] with "Opt-Out" in the subject line, or send a letter to: [insert physical mailing address]. You must include your full name, mailing address and e-mail address. If we are able to locate your contact information based on the information you provide us, it will be removed from our databases and mailing lists.</p>
<h5>Changes to this Policy</h5>
<p>CFH reserves the right to amend or alter this policy at any time without advance notice.</p>
<p>If you have further questions about this Privacy Policy you may contact us at [insert email and phone number].</p>
<h5>Financial Disclosure</h5>
<p>Although Compassion for Humanity, Inc. takes your suggested use of your donation into strong consideration, Compassion for Humanity, Inc. must retain the ultimate discretion and control over how to apply your donation in order to comply with legal requirements for tax deductible donations.  All donations are processed as donations to CFH's general fund.  In the event, your suggested use becomes frustrated or impossible CFH will apply your donation to another charitable purpose.</p>
<p>Compassion for Humanity, Inc. does not provide tax or legal advice and you should consult your attorney or tax professional in order to address any tax deduction you may be entitled to for your donation.</p>
</div>