<% @page_class = "strip-mini" %>
<div class="span12">
  <% if @page.title == "You Can Help" %>
    <div id="donation_thanks" class="alert hide">Thank you for your donation!</div>
  <% end %>
  <h1 class="hidden-desktop"><%= @page.title %></h1>
  <% if @page.title == "How it Works" %>
    <%= render 'shared/how_it_works_video' %>
  <% end %>
  <%= @page.content.html_safe %>
  <% if @page.title == "You Can Help" %>
    <div class="divider"></div>
    <a href="#donate_modal" data-toggle="modal" class="btn btn-primary">Donate Now</a>
  <% end %>
</div>
<% if @page.title == "You Can Help" %>
  <%= render 'shared/donate_modal' %>
<% end %>
