- cache @page do
  - @page_class = "strip-mini"
  .span12
    - if @page.slug == "you-can-help" || @page.slug == "the-purpose-of-compassion-for-humanity"
      #donation_thanks.alert.hide Thank you for your donation!
    - if @page.slug == "how-it-works"
      = render 'shared/how_it_works_video'
    = @page.content.html_safe
    - if @page.slug == 'approved-contractor-videos'
      = render 'shared/approved_contractor_videos'
    - if @page.slug == "you-can-help" || @page.slug == "the-purpose-of-compassion-for-humanity"
      .divider
      %a.btn.btn-primary.btn-large{"data-toggle" => "modal", href: "#donate_modal"} Donate Now
  - if @page.slug == "you-can-help" || @page.slug == "the-purpose-of-compassion-for-humanity"
    = render 'shared/donate_modal'
