<% @page_title = "Please Support Compassion for Humanity Today!" %>
<% @page_class = "strip-mini" %>
<div class="span12">
<div id="donation_thanks" class="alert hide">Thank you for your donation!</div>
<h1 class="hidden-desktop"><%= @page_title %></h1>
<p><strong>You</strong> can make a difference, your gift of $50 or more will help us bring change to those in need.</p>
<p>Look deep down inside and remember a time in your past when you were in crisis, when you were in need and felt helpless. A time, when your situation seemed to be too big to overcome and you felt like no one cared or heard your cries. We all have moments like that in common. Unfortunately there are people in this world who truly can’t help themselves and need your help desperately. What did it mean to you when someone reached out to you to help in your situation? Use that memory, that feeling and emotion to guide you in your journey to give back and to help someone else that is truly suffering and in need of your help. </p>
<p>Please search your heart and ask yourself "How can I Help?" Be a part of this organization and help us change the world one person or one cause at a time.</p>
<p>Compassion for Humanity truly cares about people, for those who are hurting and who are in need. As you know there are a lot of suffering people in the world. We want to help; we want to love on them, show them there really are people who care, Help us make this a better world for all of us. With your support we can make a difference.</p>
<p>CompassionforHumanity.org, is new technology that brings compassionate people together with those who truly need compassion. Please make a donation today.</p>
<p>Our Goal: "<em>to see tears of joy spread across the world as people come together and make life altering changes in the lives of those who are suffering and feel helpless. Bringing compassionate people together, we can change the world one tear drop at a time</em>."</p>
<p>Corey McLaughlin, President</p>
<div class="divider"></div>
<a href="#donate_modal" data-toggle="modal" class="btn btn-primary">Donate Now</a>
</div>
<%= render 'shared/donate_modal' %>