<div class="modal hide fade" id="contractor_selected_modal">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal">&times;</button>
    <h3>Contractor Selected!</h3>
  </div>
  <div class="modal-body">
        <p>You have selected <%= @contractor.name if @contractor %> as your contractor.</p>
      <div class="clearfix"></div>
  </div><!-- modal-body -->
  <div class="modal-footer">
    <button class="btn pull-right" data-dismiss="modal">Close</button>
  </div>
</div>