<div class="modal hide fade" id="disclaimer_modal">
  <div class="modal-header">
    <h3>Disclaimer</h3>
  </div>
  <div class="modal-body">
        I certify that the money raised will be used for the stated intent...
      <div class="clearfix"></div>
  </div><!-- modal-body -->
  <div class="modal-footer">
    <button id="disclaimer-accept" class="btn btn-primary pull-right">Accept</button>
  </div>
</div>