.edit_profile_btn_wrap.span10.offset1
  = link_to raw("<i class='icon-white icon-edit'></i> Edit Project"), edit_user_project_path(current_user, @project.id), :class => "pull-right btn btn-inverse btn-small"
.clearfix
