<div class="project-card project-preview span3" data-spy="affix" data-offset-top="0">
<div class="project-thumb-wrapper">
  <img id="project_preview_image" src="{{featured_image}}" alt="">
</div><!-- project-thumb-wrapper -->
<h5 class="bbcard_name">{{page_title}}</h5>
<p>{{page_message}}</p>
<div class="progress progress-striped active bar-green">
    <div style="width: {{percent_funded}}" class="bar"></div>
</div><!-- progress -->
<ul class="project-stats">
    <li class="first funded">
        <strong>0%</strong>funded
    </li>
    <li class="pledged">
        <strong>${{goal_amount}}</strong>target
    </li>
    <li data-end_time="2013-02-24T08:41:18Z" class="last ksr_page_timer">
    </li>
</ul><!-- project-stats -->
</div>