%p Do you want to share your act of compassion of Facebook?
= link_to "Share on Facebook", share_on_facebook_project_path(@project.id), :method => :post, :remote => true, :class => "btn btn-primary btn-large"
