$("#excess_funds_modal").modal('hide');
$("#project_response_modal_header").html("<h3>Thank you for your donation?</h3>");
$("#project_response_modal_body").html("<p>You have donated your excess funds to Compassion for Humanity. Thank you for your contribution!");
$("#project_response_modal").modal('show');
