- if @project.has_excess_funds
  %p <strong>End Campaign</strong> You can choose to end your campaign and donate remaining funds to more families in need through Compassion for Humanity.
  %p Add more vendors to meet increased goal.
- else
  %p Text for when they don't have excess funds.
