 $("#funded_modal").modal('hide');
 $("#project_response_modal_header").html("<h3>You are extending your Action!</h3>");
 $("#project_response_modal_body").html("<p>It is very important that you add more vendors to increase your goal amount!</p>");
 $("#project_response_modal").modal('show');
