<div id="news" class="tab-pane active">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur qui placeat laborum nemo corporis labore non quasi voluptatibus sunt quo! Rem, itaque, omnis accusamus minus molestiae neque libero iusto possimus.</p>
  <hr>
  <p>Assignments needing estimates: <%= @assignments.size %></p>
</div><!-- news -->