<div class="modal hide fade modal-large" id="application_requirements">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal">&times;</button>
    <h3>Contractor Application Requirements</h3>
  </div>
  <div class="modal-body contractor_code_modal_body">
<p>The following is a list of the current Compassion for Humanity's Contractor Application Requirements. This list of requirements can change at any time. If application requirements change, all applicants and or approved contractors will be required to meet the new requirements. Any applicant or approved contractor can be denied or removed from Compassion for Humanity's Approved Contractor Network at any time or for any reason Compassion for Humanity deems necessary.</p>
<ol>
  <li>All Approved Contractors can select a service area of up to a 25 mile radius. Sponsored listings are available at an additional fee, which will increase the service area to a 50 mile radius.</li>
  <li>Contractor must pay the current non-refundable annual application fee and agree to pay the current monthly recurring maintenance fee.</li>
  <li>Contractor must provide a résumé and a copy of each driver's license from all principal(s). Résumé must show experience in the industry.</li>
  <li>Contractor must prove it has been operational (actively selling related products or services) for at least the most recent 36 months, unless the principal(s) previously operated a similar business with an eligible record (one that qualifies for Compassion for Humanity's Approved Contractor Network).</li>
  <li>Contractor must provide and demonstrate a proven financial stability with at least the previous year of financial statements from a CPA and a letter from the CPA showing that the contractor is currently in good standing.</li>
  <li>Contractor must provide a current insurance certificate and must maintain appropriate insurance coverage – minimum $1 million General Liability and $2 million Aggregate, at all times.</li>
  <li>Contractor must provide proof of current automobile insurance and maintain automobile insurance coverage – minimum $100,000.</li>
  <li>Contractor must provide proof of and maintain Workers' Compensation Insurance, if required.</li>
  <li>Contractor must provide proof of and maintain all required license and bonding requirements.</li>
  <li>Contractor must have a solid credit background (must provide a minimum of 4 creditors you do business with on a monthly basis).</li>
  <li>Contractor must be accredited with the local BBB for at least 12 months and maintain at least an A- rating.</li>
  <li>Contractor must submit required info for background checks on all principals and if requested, on any employees or subcontractors that will be on the job site.</li>
  <li>Meet technology requirements for estimating software (Xatimate), Internet, digital cameras, email, etc... </li>
  <li>Contractor must provide at least 10 quality customer references from within the last 12 months.</li>
  <li>Contractor must have a real retail office and phone number, not a P.O. Box.</li>
</ol>
      <div class="clearfix"></div>
  </div><!-- modal-body -->
  <div class="modal-footer">
    <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
  </div>
</div>
