.span12
  = render 'contractors/dashboard/dashboard_nav'
  #contractor_dashboard_update_message.alert.hide Successfully updated your information!
  #home
    %p
      Your current status is: #{@contractor.status}
    - if @contractor.status == "Not Submitted"
      %p Once you complete your entire application, it will be submitted. Please download an application using the button below:
      = link_to "Contractor Application", image_path('ContractorApplication.pdf'), :target => "_blank", :class => "btn btn-primary"
    .divider
    %p
      %strong Need a copy of Compassion for Humanity's Contractor Code of Business Practices &amp; Application Requirements?
    = link_to "Download them Here", image_path('Compassion-for-Humanitys-Contractor-Code-of-Business-Practices-&-Application-Requirements-as-of-9-2013.pdf'), :target => "_blank", :class => "btn btn-primary"
    .clearfix
