%p
  These are our approved contractors. #{link_to "Apply here", new_contractor_registration_path} to apply to become an approved contractor.
.divider
#contractor-index-search-wrap
.divider
#contractor-index-wrap
  = render @contractors
- content_for :contractor_login_button do
  = link_to "Contractor Login", new_contractor_session_path, :class => "btn btn-success pull-right", :id => "contractor-login-btn"
  = render 'shared/filepickerjs'
