<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Estimate Uploaded!</h1>
    <hr>
    <p><strong>Project: </strong><%= @project.page_title %></p>
    <p><strong>Contractor: </strong><%= @contractor.name %></p>
    <p><strong>Adjuster: </strong><%= @adjuster.first_name %> <%= @adjuster.last_name %></p>
  </body>
</html>