<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>No Adjuster found within 50 miles for the following project:</h1>
    <hr>
    <p><strong>Project: </strong><%= @project.page_title %></p>
    <p><strong>Contractor: </strong><%= @contractor.name %></p>
    <hr>
    <p>There was no adjuster found within 50 miles for this project.</p>
  </body>
</html>
