<%= simple_form_for Photo.new, :remote => true do |f| %>
  <%= f.input :gallery_id, :as => :hidden, :input_html => { :value => @gallery.id } %>
  <%= f.input :caption %>
  <div id="photo_preview_thumb" class="thumbnail hide"></div>
  <%= f.filepicker_field :image, :button_class => "btn btn-mini" %>
<% end %>
