<div class="modal hide fade" id="new_photo_modal">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal">&times;</button>
    <h3>Add Photo</h3>
  </div>
  <div class="modal-body">
        <div id="new_photo_form_wrap">
          <%= render 'photos/form' %>
        </div><!-- new_project_gallery_form_wrap -->
      <div class="clearfix"></div>
  </div><!-- modal-body -->
  <div class="modal-footer">
    <button id="send_new_photo" class="btn btn-success pull-right" data-disable-with="Saving...">Add Photo</button>
  </div><!-- modal-footer -->
</div>