- cache photo do
  = div_for(photo, :class => "span2") do |photo|
    %a.sb.thumbnail{"data-lightbox-gallery" => "gallery#{photo.gallery.id}", href: photo.image, title: photo.caption}= filepicker_image_tag photo.image, w: 200, h: 200, fit: 'scale'
    %p
      %small
        %strong= photo.caption
    - if user_signed_in?
      - if current_user.can_manage_gallery?(photo.gallery)
        %hr/
        = button_to "Delete", photo, :method => :delete, :remote => true, :confirm => "Are you sure you want to delete this photo?", :class => "btn btn-danger btn-mini"
