<div id="gallery-images-wrap">
  <% if @photos.any? %>
    <%= render partial: 'photos/photo', :collection => @photos %>
  <% else %>
  <p>This gallery doesn't have any photos. </p>
  <% end %>
</div><!-- gallery-images-wrap -->
<div class="clearfix"></div>
<hr>
<a href="#new_photo_modal" data-toggle="modal" class="btn btn-success">Add Photo</a>
<%= render 'photos/new_modal' %>
<% content_for :back_to_project_button do %>
<%= link_to "Back to Dashboard", :back, :class => "btn btn-success project-dashboard-link pull-right" %>
<% end %>