<div id="home_categories_select_wrap">
  <%= render 'home/project_nav_search' %>
  <div class="inner">
    <ul id="home_categories_select">
      <% @categories.each do |category| %>
      <li>
        <%= link_to "#{category.name}", category, :class => current_class?(category_path(category)) %>
      </li>
      <% end %>
    </ul>
  </div><!-- inner -->
</div><!-- /.span3 -->
<div class="span7">
  <div class="category_search">
  </div><!-- category_search -->
  <div id="category_index_wrapper">
    <% if @projects.any? %>
      <%= render @projects %>
      <% else %>
        <h4>No project is <%= @category.name %> yet!</h4>
      <% end %>
  </div><!-- category_index_wrapper -->
</div><!-- wrap -->