.project-friend-card
  height: 295px!important

.fp-friend-left
  float: left
  position: relative
  overflow: hidden
  width: 75px
  height: 75px

.fp-friend-wrap
  height: 80px
  position: absolute
  bottom: 0

.fp-friend-right
  float: left
  padding-left: 3px
  p
    font-size: 11px!important
