#project_page_title
  width: 96.2%!important

#project_page_message
  width: 96%!important

#new_project_form_wrap
  padding-bottom: 30px

.project-preview
  right: 50px
  z-index: 200

#project_page_title
  font-size: 1.4em

.np-section
  position: relative
  margin-bottom: 2%

#media_select
  list-style: none
  display: block
  position: relative
  overflow: hidden
  width: 80%
  margin: 10px auto!important
  padding: 0
  li
    width: 40%
    margin: 0
    padding: 0
    float: left
    position: relative
    display: block
    input[type="radio"]
      margin: 0 8px 0 2px!important

#upload_options_wrap
  position: relative
  overflow: hidden
  width: 50%
  margin: 0 auto

#send_new_project
  margin-top: 5px
  margin-bottom: 5px


